
/* .logo{
    margin-left: 50px;
} */
.row dash_board{
    width: 100%;
}
.footer{
    background-color: rgb(34, 35, 36);
    width: 100%;
    height: 110px;
    font-size: 12px;
    color: aliceblue;
    /* color: chocolate; */
}
.dashboard{
    background: url(../images/body.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: rgb(192, 202, 218); */
    height: 690px;
}
.createbutton{
    background-color: goldenrod;
    width: 150%;
    margin: 20px 0;
    /* border-radius: 20px; */
    border:solid 1px rgb(229, 237, 241);
    font-size: 20px;

}
#h3{
   color: rgb(255, 255, 255);
    margin-left: 30px;
}
#h5{
    color:rgb(255, 255, 255); 
    margin-left: 55px;
}
.signupbutton{
    color: rgb(8, 87, 20);
    border:solid 2px rgb(8, 87, 20);
    font-size: 15px;
    background-color: rgb(31, 32, 33);
    border-radius: 5px solid;
    width: 90px;
    margin: 10px;
}
.signinbutton{
    color: rgb(8, 87, 20);
    border:solid 2px rgb(8, 87, 20);
    font-size: 15px;
    background-color:rgb(31, 32, 33);
    border-radius: 5px solid;
    width: 90px;
    margin: 10px; 
}
.signupbutton:hover{
    background-color: #3e8e41;
  color: white;
}
.signinbutton:hover{
    background-color: #3e8e41;
  color: white;
}
/* .qwinix{
    margin-left: 30px;
   
} */
#icon{
    margin-top: 15px;
    margin-left: 0px;
  }
  #q{
      color: aliceblue;
  }
  