.Signupdashboard{
    /* background: url(../images/body.jpg); */
    /* border: 5px solid rgba(0, 0, 0, 0.3); */
    background-size: cover;
    /* background-color: rgb(157, 221, 224); */
    height: 650px;
    width: 100%;
}
.image{
    /* padding-top: 50px; */
    margin-top: 30px;
    /* border: 20px solid rgba(0, 0, 0, 0.3); */
}
.input_box {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    /* background:rgba(0, 0, 0, 0.638); */
    /* color: white; */
    font-weight: bold;
    font-family: sans-serif;
    border : solid 0px rgb(53, 28, 237); 
    /* border-radius: 10px; */
    padding-left: 10px;
}
/* .label{
    color: green;
    font-weight: bold;
    font-family: sans-serif;
} */
.signuptext{
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
}
.submitbutton{
    background-color: goldenrod;
    color: white;
    width: 40%;
    border-radius: 3px;
    border: 1px;
    font-size: 20px;
    /* background-color: transparent; */

}
.submitbutton:hover{
    /* color: aliceblue; */
    background-color: rgb(11, 214, 214);
    
}
.allareadyaccount{
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding-left: 20px;
}
.allareadyaccount:hover{
    color: crimson;
    font-weight: bold;
    font-family: sans-serif;
    /* background-color: rgb(11, 214, 214); */
    border-radius: 20px;
}
.footer{
    background-color: rgb(34, 35, 36);
    width: 100%;
    height: 95px;
    font-size: 12px;
    color: aliceblue;
    /* color: chocolate; */
}
.logo{
    margin-left: 50px;
}
.red{
    color: red;
    font-family: bold;
    font-size: 20px;
}
#icon{
    margin-top: 15px;
    margin-left: 0px;
  }
  /* #signupbox{
    border: 20px solid rgba(0, 0, 0, 0.3);
     
  } */
  