
.main{
  background-color: rgb(34, 35, 36);
  width: 100%;
  height: 90px;
  padding: 5px;
}
/* #signupbutton{
 border-color: green; 
 color: green;
 background-color: rgb(34, 35, 36);
}
#signinbutton{
  margin: 10px;
  color: green;
  border-color: green; 
  background-color: rgb(34, 35, 36);
}
.HomePagefooter{
  background-color: rgb(34, 35, 36);
  width: 100%;
  height: 70px;
  color: chocolate;
  font-size: 11px;
} */
/* .homepagedashblog{
  width: 100%;
  height: 500px;
  background-color: rgb(145, 221, 235);
} */
/* .createblogbutton{
  background-color: rgb(242, 187, 48);
  color: aliceblue;
} */
/* .text{
  color:rgb(77, 164, 176);
} */
/* .signupdashboard{
  background-color: rgb(145, 221, 235);
} */
/* .row footer{
  background-color: rgb(34, 35, 36);
  width: 100%;
  height: 70px;
   
} */

